In [4]:
import pandas as pd
import numpy as np
%matplotlib inline
from matplotlib import pyplot as plt
import seaborn as sns

In [7]:
adult_df = pd.read_csv(r"C:\Users\ajink\OneDrive\Desktop\Mom Visa\adult.csv")
print("number of observations",adult_df.shape)
adult_df.head

number of observations (32561, 15)

<bound method NDFrame.head of        age          workclass  fnlwgt    education  education-num  \
0       39          State-gov   77516    Bachelors             13
1       50   Self-emp-not-inc   83311    Bachelors             13
2       38            Private  215646      HS-grad              9
3       53            Private  234721         11th              7
4       28            Private  338409    Bachelors             13
...    ...                ...     ...          ...            ...
32556   27            Private  257302   Assoc-acdm             12
32557   40            Private  154374      HS-grad              9
32558   58            Private  151910      HS-grad              9
32559   22            Private  201490      HS-grad              9
32560   52       Self-emp-inc  287927      HS-grad              9

            marital-status          occupation    relationship    race  \
0            Never-married        Adm-clerical   Not-in-family   White
1       Married-civ-spouse     Exec-managerial         Husband   White
2                 Divorced   Handlers-cleaners   Not-in-family   White
3       Married-civ-spouse   Handlers-cleaners         Husband   Black
4       Married-civ-spouse      Prof-specialty            Wife   Black
...                    ...                 ...             ...     ...
32556   Married-civ-spouse        Tech-support            Wife   White
32557   Married-civ-spouse   Machine-op-inspct         Husband   White
32558              Widowed        Adm-clerical       Unmarried   White
32559        Never-married        Adm-clerical       Own-child   White
32560   Married-civ-spouse     Exec-managerial            Wife   White

           sex  capital-gain  capital-loss  hours-per-week         country  \
0         Male          2174             0              40   United-States
1         Male             0             0              13   United-States
2         Male             0             0              40   United-States
3         Male             0             0              40   United-States
4       Female             0             0              40            Cuba
...        ...           ...           ...             ...             ...
32556   Female             0             0              38   United-States
32557     Male             0             0              40   United-States
32558   Female             0             0              40   United-States
32559     Male             0             0              20   United-States
32560   Female         15024             0              40   United-States

       salary
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
32556   <=50K
32557    >50K
32558   <=50K
32559   <=50K
32560    >50K

[32561 rows x 15 columns]>

In [9]:
adult_df.describe

<bound method NDFrame.describe of        age          workclass  fnlwgt    education  education-num  \
0       39          State-gov   77516    Bachelors             13
1       50   Self-emp-not-inc   83311    Bachelors             13
2       38            Private  215646      HS-grad              9
3       53            Private  234721         11th              7
4       28            Private  338409    Bachelors             13
...    ...                ...     ...          ...            ...
32556   27            Private  257302   Assoc-acdm             12
32557   40            Private  154374      HS-grad              9
32558   58            Private  151910      HS-grad              9
32559   22            Private  201490      HS-grad              9
32560   52       Self-emp-inc  287927      HS-grad              9

            marital-status          occupation    relationship    race  \
0            Never-married        Adm-clerical   Not-in-family   White
1       Married-civ-spouse     Exec-managerial         Husband   White
2                 Divorced   Handlers-cleaners   Not-in-family   White
3       Married-civ-spouse   Handlers-cleaners         Husband   Black
4       Married-civ-spouse      Prof-specialty            Wife   Black
...                    ...                 ...             ...     ...
32556   Married-civ-spouse        Tech-support            Wife   White
32557   Married-civ-spouse   Machine-op-inspct         Husband   White
32558              Widowed        Adm-clerical       Unmarried   White
32559        Never-married        Adm-clerical       Own-child   White
32560   Married-civ-spouse     Exec-managerial            Wife   White

           sex  capital-gain  capital-loss  hours-per-week         country  \
0         Male          2174             0              40   United-States
1         Male             0             0              13   United-States
2         Male             0             0              40   United-States
3         Male             0             0              40   United-States
4       Female             0             0              40            Cuba
...        ...           ...           ...             ...             ...
32556   Female             0             0              38   United-States
32557     Male             0             0              40   United-States
32558   Female             0             0              40   United-States
32559     Male             0             0              20   United-States
32560   Female         15024             0              40   United-States

       salary
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
32556   <=50K
32557    >50K
32558   <=50K
32559   <=50K
32560    >50K

[32561 rows x 15 columns]>

In [10]:
categorical_data = adult_df.dtypes[adult_df.dtypes == "object"]
numerical_data = adult_df.dtypes[adult_df.dtypes != "object"]

In [18]:
for da in list(categorical_data.index):
    print(f"-------------------{da.title()}-------------------------")
    total = adult_df[da].value_counts()
    percent = adult_df[da].value_counts()/ adult_df.shape[0]
    df = pd.concat([total,percent],keys=['total','percent'],axis = 1 )
    print(df)
    print('\n')

-------------------Workclass-------------------------
                   total   percent
 Private           22696  0.697030
 Self-emp-not-inc   2541  0.078038
 Local-gov          2093  0.064279
 ?                  1836  0.056386
 State-gov          1298  0.039864
 Self-emp-inc       1116  0.034274
 Federal-gov         960  0.029483
 Without-pay          14  0.000430
 Never-worked          7  0.000215


-------------------Education-------------------------
               total   percent
 HS-grad       10501  0.322502
 Some-college   7291  0.223918
 Bachelors      5355  0.164461
 Masters        1723  0.052916
 Assoc-voc      1382  0.042443
 11th           1175  0.036086
 Assoc-acdm     1067  0.032769
 10th            933  0.028654
 7th-8th         646  0.019840
 Prof-school     576  0.017690
 9th             514  0.015786
 12th            433  0.013298
 Doctorate       413  0.012684
 5th-6th         333  0.010227
 1st-4th         168  0.005160
 Preschool        51  0.001566


-------------------Marital-Status-------------------------
                        total   percent
 Married-civ-spouse     14976  0.459937
 Never-married          10683  0.328092
 Divorced                4443  0.136452
 Separated               1025  0.031479
 Widowed                  993  0.030497
 Married-spouse-absent    418  0.012837
 Married-AF-spouse         23  0.000706


-------------------Occupation-------------------------
                    total   percent
 Prof-specialty      4140  0.127146
 Craft-repair        4099  0.125887
 Exec-managerial     4066  0.124873
 Adm-clerical        3770  0.115783
 Sales               3650  0.112097
 Other-service       3295  0.101195
 Machine-op-inspct   2002  0.061485
 ?                   1843  0.056601
 Transport-moving    1597  0.049046
 Handlers-cleaners   1370  0.042075
 Farming-fishing      994  0.030527
 Tech-support         928  0.028500
 Protective-serv      649  0.019932
 Priv-house-serv      149  0.004576
 Armed-Forces           9  0.000276


-------------------Relationship-------------------------
                 total   percent
 Husband         13193  0.405178
 Not-in-family    8305  0.255060
 Own-child        5068  0.155646
 Unmarried        3446  0.105832
 Wife             1568  0.048156
 Other-relative    981  0.030128


-------------------Race-------------------------
                     total   percent
 White               27816  0.854274
 Black                3124  0.095943
 Asian-Pac-Islander   1039  0.031909
 Amer-Indian-Eskimo    311  0.009551
 Other                 271  0.008323


-------------------Sex-------------------------
         total   percent
 Male    21790  0.669205
 Female  10771  0.330795


-------------------Country-------------------------
                             total   percent
 United-States               29170  0.895857
 Mexico                        643  0.019748
 ?                             583  0.017905
 Philippines                   198  0.006081
 Germany                       137  0.004207
 Canada                        121  0.003716
 Puerto-Rico                   114  0.003501
 El-Salvador                   106  0.003255
 India                         100  0.003071
 Cuba                           95  0.002918
 England                        90  0.002764
 Jamaica                        81  0.002488
 South                          80  0.002457
 China                          75  0.002303
 Italy                          73  0.002242
 Dominican-Republic             70  0.002150
 Vietnam                        67  0.002058
 Guatemala                      64  0.001966
 Japan                          62  0.001904
 Poland                         60  0.001843
 Columbia                       59  0.001812
 Taiwan                         51  0.001566
 Haiti                          44  0.001351
 Iran                           43  0.001321
 Portugal                       37  0.001136
 Nicaragua                      34  0.001044
 Peru                           31  0.000952
 France                         29  0.000891
 Greece                         29  0.000891
 Ecuador                        28  0.000860
 Ireland                        24  0.000737
 Hong                           20  0.000614
 Cambodia                       19  0.000584
 Trinadad&Tobago                19  0.000584
 Laos                           18  0.000553
 Thailand                       18  0.000553
 Yugoslavia                     16  0.000491
 Outlying-US(Guam-USVI-etc)     14  0.000430
 Honduras                       13  0.000399
 Hungary                        13  0.000399
 Scotland                       12  0.000369
 Holand-Netherlands              1  0.000031


-------------------Salary-------------------------
        total  percent
 <=50K  24720  0.75919
 >50K    7841  0.24081

In [26]:
edit_column = ['country','occupation','workclass']
for da in edit_column:
    adult_df.loc[adult_df[da] == '?', da ] = 'unknown'

In [ ]:
high_sch = ['HS-grad','11th','10th','9th','12th']
elementary = ['1st-4th','5th-6th','7th-8th']
adult_df['education'].replace(to_replace = hs_grad,value = 'HS-grad')